:root {
  --border-1: 1px solid var(--color-border);
  --border-2: 2px solid var(--color-border);
  --border-3: 3px solid var(--color-border);
  --border-4: 4px solid var(--color-border);

 

  --border-caution: 1px solid var(--color-caution4);
  --border-warning: 1px solid var(--color-warning);
  --border-success: 1px solid var(--color-success);
}
