@use '@/styles/abstracts' as *;

:root {
  --br-100: #{px-to-rem(4)};
  --br-200: #{px-to-rem(8)};
  --br-300: #{px-to-rem(12)};
  --br-400: #{px-to-rem(16)};
  --br-500: #{px-to-rem(20)};
  --br-600: #{px-to-rem(24)};
  --br-700: #{px-to-rem(28)};
  --br-800: #{px-to-rem(32)};
  --br-900: #{px-to-rem(36)};

  --br-full: 50%;
}
