@use '@/styles/base/flex' as *;

.loginPage {
  width: 100%;
  @include flex-center-column(var(--gap-10));

  & .heading {
    @include flex-center-column(var(--gap-2));
  }

  & .loginForm {
    width: 100%;
    @include flex-center-column(var(--gap-2));

    & .inputs {
      width: 100%;
      @include flex-center-column(var(--gap-4));
    }

    & .submitBtn {
        margin-top: var(--margin-6);
    }
  }
}
