@use '@/styles/base/flex' as *;

.hamburgerMenu {
    position: relative;
    @include flex-center-column(var(--gap-2));
    z-index: 50;
  
    & span {
      width: 32px;
      height: 2px;
      background-color: var(--bg-primary);
    }
  
    
  }