@use '@/styles/base/accessibility' as *;

.logo {
  position: relative;
  max-width: max-content;
  font-size: var(--fs-500);
  font-weight: var(--fw-black);
  transition: var(--transition-main);
  overflow: hidden;
  @include focused;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: #{px-to-ch(1)};
    background-color: var(--color-primary);
    transition: var(--transition-main);
  }

  &::before {
    bottom: 0;
    left: 0;
  }

  &::after {
    top: 0;
    left: -125%;
  }

  &:hover {
    & .logoGradient {
      color: var(--color-secondary);
    }
    color: var(--color-secondary);
  }

  &:hover::before,
  &:hover::after {
    background-color: var(--color-secondary);
  }

  &:hover::after {
    left: 0;
  }

  & .logoGradient {
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: var(--transition-main);
  }

  & .logoText {
    color: var(--color-primary);
    transition: var(--transition-main);
  }
}
