:root {
    --aqua-50: oklch(0.9647 0.0505 189.37);
    --aqua-100: oklch(0.9377 0.0925 189.37);
    --aqua-200: oklch(0.8932 0.1175 189.37);
    --aqua-300: oklch(0.8605 0.1479 189.37);
    --aqua-400: oklch(0.8071 0.1392 189.37);
    --aqua-500: oklch(0.7626 0.1316 189.37);
    --aqua-600: oklch(0.6825 0.1175 189.37);
    --aqua-700: oklch(0.5786 0.1001 189.37);
    --aqua-800: oklch(0.4718 0.0816 189.37);
    --aqua-900: oklch(0.2706 0.0467 189.37);
    --aqua-950: oklch(0.1424 0.0326 189.37);

}