:root {
  --blue-50: oklch(0.9447 0.0261 264.26);
  --blue-100: oklch(0.9002 0.0478 264.26);
  --blue-200: oklch(0.8231 0.087 264.26);
  --blue-300: oklch(0.6599 0.1795 264.26);
  --blue-400: oklch(0.559 0.2415 264.26);
  --blue-500: oklch(0.4581 0.309 264.26);
  --blue-600: oklch(0.3869 0.2666 264.26);
  --blue-700: oklch(0.3038 0.21 264.26);
  --blue-800: oklch(0.2207 0.1157 264.26);
  --blue-900: oklch(0.1677 0.0992 264.26);
  --blue-950: oklch(0.0723 0.05 264.26);
}
