:root {
  --emerald-50: oklch(0.9794 0.0235 159.16);
  --emerald-100: oklch(0.9676 0.0476 159.16);
  --emerald-200: oklch(0.95 0.0761 159.16);
  --emerald-300: oklch(0.9269 0.1218 153.16);
  --emerald-400: oklch(0.8941 0.175 153.16);
  --emerald-500: oklch(0.8587 0.2198 153.16);
  --emerald-600: oklch(0.7519 0.1719 159.16);
  --emerald-700: oklch(0.6005 0.1371 159.16);
  --emerald-800: oklch(0.3471 0.0795 159.16);
  --emerald-900: oklch(0.2148 0.0476 161.16);
  --emerald-950: oklch(0.1177 0.0257 161.16);
}
