:root {
  --green-50: oklch(0.9852 0.0213 145.68);
  --green-100: oklch(0.9705 0.0487 145.68);
  --green-200: oklch(0.947 0.0882 145.68);
  --green-300: oklch(0.9235 0.1377 145.68);
  --green-400: oklch(0.8941 0.2068 145.68);
  --green-500: oklch(0.8409 0.259 145.68);
  --green-600: oklch(0.7341 0.2263 145.68);
  --green-700: oklch(0.5886 0.1673 145.68);
  --green-800: oklch(0.3824 0.1179 145.68);
  --green-900: oklch(0.1942 0.0597 145.68);
  --green-950: oklch(0.0942 0.029 145.68);
}
