@forward 'aqua';
@forward 'blue';
@forward 'emerald';
@forward 'green';
@forward 'neutral';
@forward 'orange';
@forward 'pink';
@forward 'purple';
@forward 'red';
@forward 'ruby';
@forward 'sky';
@forward 'steel';
@forward 'stone';
@forward 'teal';
@forward 'yellow';
