:root {
    --neutral-50: oklch(0.9981 0 266.39);
    --neutral-100: oklch(0.9714 0 266.39);
    --neutral-200: oklch(0.8854 0 266.39);
    --neutral-300: oklch(0.7459 0 266.39);
    --neutral-400: oklch(0.6078 0 266.39);
    --neutral-500: oklch(0.4784 0 266.39);
    --neutral-600: oklch(0.3569 0 266.39);
    --neutral-700: oklch(0.2451 0 266.39);
    --neutral-800: oklch(0.1412 0 266.39);
    --neutral-900: oklch(0.0588 0 266.39);
    --neutral-950: oklch(0.0216 0 266.39);
}