:root {
    --orange-50: oklch(0.9596 0.0239 59.15);
    --orange-100: oklch(0.9264 0.0454 59.15);
    --orange-300: oklch(0.8854 0.0739 59.15);
    --orange-400: oklch(0.8058 0.1338 59.15);
    --orange-500: oklch(0.7637 0.1686 59.15);
    --orange-600: oklch(0.6806 0.1599 59.15);
    --orange-700: oklch(0.5708 0.1349 59.15);
    --orange-800: oklch(0.3059 0.0718 59.15);
    --orange-900: oklch(0.1706 0.0399 59.15);
    --orange-950: oklch(0.0795 0.0191 59.15);
}