:root {
  --pink-50: oklch(0.9617 0.0191 360);
  --pink-100: oklch(0.9176 0.0443 360);
  --pink-200: oklch(0.85 0.0871 360);
  --pink-300: oklch(0.7705 0.1464 360);
  --pink-400: oklch(0.7029 0.2057 360);
  --pink-500: oklch(0.6688 0.2394 360);
  --pink-600: oklch(0.5857 0.2372 360);
  --pink-700: oklch(0.4492 0.175 360);
  --pink-800: oklch(0.2912 0.1179 360);
  --pink-900: oklch(0.1912 0.0773 360);
  --pink-950: oklch(0.1089 0.0443 360);
}
