:root {
    --purple-50: oklch(0.95 0.0268 299.37)
    --purple-100: oklch(0.9029 0.0542 299.37);
    --purple-200: oklch(0.8498 0.0859 299.37);
    --purple-300: oklch(0.7667 0.1392 299.37);
    --purple-400: oklch(0.6688 0.2056 299.37);
    --purple-500: oklch(0.559 0.2872 299.37);
    --purple-600: oklch(0.464 0.2481 299.37);
    --purple-700: oklch(0.3353 0.1794 299.37);
    --purple-800: oklch(0.2474 0.1316 299.37);
    --purple-900: oklch(0.1554 0.0827 299.37);
    --purple-950: oklch(0.0824 0.0443 299.37);
}