:root {
    --red-50: oklch(0.9823 0.0081 28.18);
    --red-100: oklch(0.9062 0.0377 28.18);
    --red-200: oklch(0.8764 0.0641 28.18);
    --red-300: oklch(0.7845 0.1251 28.18);
    --red-400: oklch(0.7103 0.1585 28.18);
    --red-500: oklch(0.648 0.2372 28.18);
    --red-600: oklch(0.5442 0.2222 28.18);
    --red-700: oklch(0.3912 0.1596 28.18);
    --red-800: oklch(0.2589 0.1047 28.18);
    --red-900: oklch(0.1584 0.0542 28.18);
    --red-950: oklch(0.0795 0.0323 28.18);


}