:root {
  --ruby-50: oklch(0.9529 0.0224 21.82);
  --ruby-100: oklch(0.9117 0.0443 21.82);
  --ruby-200: oklch(0.8616 0.0739 21.82);
  --ruby-300: oklch(0.7852 0.1234 21.82);
  --ruby-400: oklch(0.7058 0.1838 21.82);
  --ruby-500: oklch(0.6569 0.2296 21.82);
  --ruby-600: oklch(0.5263 0.2111 21.82);
  --ruby-700: oklch(0.4195 0.1508 21.82);
  --ruby-800: oklch(0.2765 0.1102 21.82);
  --ruby-900: oklch(0.1614 0.0553 21.82);
  --ruby-950: oklch(0.1139 0.0246 21.82);
}
