:root {
    --sky-50: oklch(0.9833 0.0097 231.14);
    --sky-100: oklch(0.9477 0.0304 231.14);
    --sky-200: oklch(0.918 0.0478 231.14);
    --sky-300: oklch(0.8765 0.0739 231.14);
    --sky-400: oklch(0.8231 0.1088 231.14);
    --sky-500: oklch(0.7251 0.1458 231.14);
    --sky-600: oklch(0.6094 0.1229 231.14);
    --sky-700: oklch(0.4284 0.0859 231.14);
    --sky-800: oklch(0.2622 0.0522 243.14);
    --sky-900: oklch(0.1471 0.0355 243.14);
    --sky-950: oklch(0.0942 0.0224 243.14);
}