:root {
  --steel-50: oklch(0.9705 0.0169 230.07);
  --steel-100: oklch(0.9091 0.0169 230.07);
  --steel-200: oklch(0.8409 0.0169 230.07);
  --steel-300: oklch(0.7725 0.0169 230.07);
  --steel-400: oklch(0.6213 0.0169 230.07);
  --steel-500: oklch(0.5679 0.0169 230.07);
  --steel-600: oklch(0.47 0.0169 230.07);
  --steel-700: oklch(0.3869 0.0169 230.07);
  --steel-800: oklch(0.286 0.0169 230.07);
  --steel-900: oklch(0.1851 0.0114 230.07);
  --steel-950: oklch(0.105 0.0125 230.07);
}
