:root {
  --stone-50: oklch(0.9882 0.0115 84.79);
  --stone-100: oklch(0.9269 0.0114 84.79);
  --stone-200: oklch(0.8468 0.0114 84.79);
  --stone-300: oklch(0.7875 0.0115 84.79);
  --stone-400: oklch(0.6836 0.0115 84.79);
  --stone-500: oklch(0.5056 0.0115 84.79);
  --stone-600: oklch(0.4551 0.0115 84.79);
  --stone-700: oklch(0.3631 0.0115 84.79);
  --stone-800: oklch(0.2711 0.0115 84.79);
  --stone-900: oklch(0.1614 0.0115 84.79);
  --stone-950: oklch(0.102 0.0115 84.79);
}
