:root {
  --teal-50: oklch(0.9955 0.0054 178.47);
  --teal-100: oklch(0.9755 0.0312 178.47);
  --teal-200: oklch(0.9655 0.0478 178.47);
  --teal-300: oklch(0.9358 0.0935 178.47);
  --teal-400: oklch(0.9058 0.1436 178.47);
  --teal-500: oklch(0.8795 0.161 178.47);
  --teal-600: oklch(0.8082 0.1479 178.47);
  --teal-700: oklch(0.6421 0.1175 178.47);
  --teal-800: oklch(0.3736 0.0685 178.47);
  --teal-900: oklch(0.2059 0.0377 178.47);
  --tael-950: oklch(0.1 0.018 178.47);
}
