:root {
  --yellow-50: oklch(0.9941 0.0158 102.95);
  --yellow-100: oklch(0.9852 0.0366 102.95);
  --yellow-200: oklch(0.9764 0.0619 102.95);
  --yellow-300: oklch(0.9647 0.0882 102.95);
  --yellow-400: oklch(0.9566 0.1025 102.95);
  --yellow-500: oklch(0.921 0.1926 102.95);
  --yellow-600: oklch(0.8587 0.1695 102.95);
  --yellow-700: oklch(0.6569 0.0674 102.95);
  --yellow-800: oklch(0.3206 0.0674 102.95);
  --yellow-900: oklch(0.1614 0.0246 102.95);
  --yellow-950: oklch(0.1177 0.0246 102.95);
}
