.header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  padding: var(--pad-page);
  border-bottom: var(--border-1);
  background-color: var(--color-bg1);

  z-index: 100;

  & .wrapper {
    max-width: var(--container-app);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
