@use '@/styles/base/flex' as *;


.wrap {
@include flex-center-column(var(--gap-6));
overflow-x: hidden;
}

.animWrap {
  position: relative;
  width: 100%;
  min-height: 220px; // enough to prevent collapse during absolute positioning
  overflow-x: hidden;
}
