:root {
  --bg1: var(--color-bg1);
  --bg2: var(--color-bg2);
  --bg3: var(--color-bg3);
  --bg-primary: var(--color-primary);
  --btn-bg-primary: var(--color-primary);
  --btn-bg-hover: var(--color-secondary);
  --bg-btn-accent: var(--color-accent);

  --bg-warning: var(--color-warning);
  --bg-success: var(--color-success);
  --bg-caution: var(--color-caution);
}
