:root {
  --color-text: var(--neutral-800);
  --color-bg1: var(--neutral-200);
  --color-bg2: var(--steel-200);
  --color-bg3: var(--stone-200);
  --color-surface: var(--neutral-50);
  --color-primary: var(--blue-700);
  --color-secondary: var(--blue-800);
  --color-accent: var(--blue-900);
  --color-shadow: var(--neutral-950);
  --color-border: var(--neutral-950);

  --color-warning1: var(--red-700);
  --color-warning2: var(--red-900);
  --color-warning3: var(--red-100);
  --color-warning4: var(--red-400);
  --color-success1: var(--green-700);
  --color-success2: var(--green-900);
  --color-success3: var(--green-100);
  --color-success4: var(--green-400);
  --color-caution1: var(--purple-700);
  --color-caution2: var(--purple-950);
  --color-caution3: var(--purple-100);
  --color-caution4: var(--purple-400);
  --color-focus: var(--yellow-500);
  --color-disabled-1: var(--stone-700);
  --color-disabled-2: var(--stone-300);

}


